<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="user_table">
    <div class="row">
        <div class="col-sm">
            <table class="table table-dark">
                <tr class="active">
                    <th>City</th>
                    <th>Address</th>
                    <th>Charger type</th>
                    <th>Place name</th>
                    <th>Place info</th>
                    <th>Opening hours</th>
                    <th>Image</th>
                    <th>Place tags</th>
                </tr>
                <tr th:each="p: ${places}">
                    <td th:text="${p.getCity()}"></td>
                    <td th:text="${p.getAddress()}"></td>
                    <td th:text="${p.getChargerType()}"></td>
                    <td th:text="${p.getPlaceName()}"></td>
                    <td th:text="${p.getPlaceInfo()}"></td>
                    <td th:text="${p.getOpeningHours()}"></td>
                    <td><img th:src="@{${p.getImage()}}" alt="image" style="height: auto; width: 40%"></td>
                    <td>
                        <ul>
                            <li th:each="t: ${p.getTags()}">
                            <span class="badge badge-secondary" style="cursor: pointer" th:text="${t}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                    <form action="/delete" method="get">
                        <input type="hidden" th:value="${p.getPlaceName()}" name="place">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>