<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>
<body>
<div class="container">
    <div class="row">
        <div class="login-form">
            <form th:action="@{/signup}" action="/signup" th:object="${loginUser}" method="post">

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="username" placeholder="login" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="password" placeholder="password" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm" style="color: lime">sign up</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>